[submodule "github.com/themes/blackburn"]
	path = github.com/themes/blackburn
	url = https://github.com/yoshiharuyamashita/blackburn.git
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
