[submodule "github.com/themes/blackburn"]
	path = github.com/themes/blackburn
	url = https://github.com/yoshiharuyamashita/blackburn.git
[submodule "themes/blackburn"]
	path = themes/blackburn
	url = https://github.com/yoshiharuyamashita/blackburn.git
