<div>
    {{ if and .IsPage (eq .Params.toc true) }}
    <div class="section">
        <header><div class="title">TableOfContents</div></header>
        <div class="list-default">{{ .TableOfContents }}</div>
    </div>
    {{ end }}

    <div class="section taxonomies well">
        <div class="list-group-item-heading">
            <b>
                <i class="fa fa-tags fa-lg" aria-hidden="true"></i>
                Social
            </b>
        </div>
        <ul class="list-group">
            {{ with .Site.Params.twitter }}
            <li class="list-group-item">
                <a id="contact-link-github" class="contact_link" href="https://www.twitter.com/{{ . }}">
                    <span class="fa fa-twitter fa-lg"></span><span class="pull-right">@tutysara</span></a>
            </li>
            {{ end }}
            {{ with .Site.Params.github }}
            <li class="list-group-item">
                <a id="contact-link-github" class="contact_link" href="https://github.com/{{ . }}">
                    <span class="fa fa-github fa-lg"></span><span class="pull-right">github</span></a>
            </li>
            {{ end }}
            {{ with .Site.Params.googleplus }}
            <li class="list-group-item">
                <a id="contact-link-github" class="contact_link" href="https://plus.google.com/{{ . }}">
                    <span class="fa fa-google-plus fa-lg"></span><span class="pull-right">+tutysara</span></a>
            </li>
            {{ end }}
        </ul>
    </div>

    {{ range $key, $value := .Site.Taxonomies }}
    {{ $len := len $value }}
    {{ if (not ( eq $len 0 ) ) }}
    <div class="section taxonomies well">
        <header>
            <div class="title list-group-item-heading">
                <b>
                    <i class="fa fa-tags fa-lg" aria-hidden="true"></i>
                    Popular {{ $key  | humanize }}
                </b>
            </div>
        </header>

        <div class="content">
            <ul class="list-group">
                {{ range first 10 $value.ByCount }}
                <li class="list-group-item">
                    <a href="{{ $.Site.BaseURL}}{{ $key }}/{{ .Name | urlize }}">
                        {{ .Name }}<span class="badge pull-right"> {{ .Count }}</span>
                    </a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
    {{ end }}
    {{ end }}

</div>
